/nbproject/private/
/build/
/MerlionPortal-war/nbproject/private/
/MerlionPortal-ejb/nbproject/private/
/MerlionPortal-ejb/build/
/MerlionPortal-ejb/dist/
/MerlionPortal-war/dist/
/MerlionPortal-war/build/
/dist/
sun-resources.xml